* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
:root {
   --clr-orange: rgb(209, 153, 0);
  --clr-textWhite: #eeeeee;
  --clr-darGray: #393e46;
  --clr-lightGray: #e6e6e6;
  --clr-darkRed: rgb(182, 84, 84);
}
body {
  scroll-behavior: smooth;
}

.center {
  width: min(90%, 110rem);
  margin-inline: auto;
}

nav {
  background: var(--clr-darGray);
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-container {
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--clr-textWhite);
 font-size: 1.5rem;
 transition: .15s ease-in-out;
}
.logo:hover {
  color: var(--clr-orange);
}
  
ul {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
}
ul li {
  list-style-type: none;
  padding: 2rem 0;
  padding-left: 2rem;
}
ul li a {
  text-decoration: none;
  color: var(--clr-textWhite);
  transition: 0.15s ease-in-out;
}
ul li a:hover {
   color: var(--clr-orange);
}

ul li .logout-btn {
  border: 1px solid var(--clr-orange);
  background: var(--clr-orange);
  padding: .5rem 1rem;
  border-radius: 50px 50px;
}
ul li .logout-btn:hover {
  background: transparent;
}

/*-----------------Side Bar Nav-------------------*/
.sect-1 {
  min-height: 100vh;
  position: relative;
}
.sect1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 7rem;
  min-height: 40vh;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--clr-darkRed);
  min-height: 100%;
  min-width: 15%;
  transition: width 0.2s linear;
}

.side-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 4rem 0 0 0;
  color: var(--clr-textWhite);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.side-nav .side-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.side-nav h3 {
  margin-bottom: 1rem;
}

.side-nav a {
  padding: .5rem 0;
  color: var(--clr-textWhite);
  border-bottom: 1px solid transparent;
 text-decoration: none;
 transition: 0.15s ease-in-out;
 font-size: 1.2rem;
}
.side-nav a:hover {
  color: var(--clr-orange);
  border-bottom: 1px solid var(--clr-orange);
}

.host {
  border-bottom: 1px solid var(--clr-textWhite);
  padding-bottom: 5rem;
}
.side-logo {
  text-align: center;
}

/*---------------Section 1--------------------*/


/*------------------------Table_--------------------*/

.content-table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: .8rem;
  min-width: 600px;
  border: 1px solid lightgray;
  text-align: center;
}
.content-table thead {
  background: var(--clr-orange);
  color: var(--clr-textWhite);
}
.content-table th, td {
  padding: 0.7rem;
}
.content-table tbody, tr {
  border-bottom: 1px solid lightgray;
}
.content-table td a {
  text-decoration: none;
  background: var(--clr-darkRed);
  padding: 0.3rem;
  color: var(--clr-textWhite);
  border-radius: 0.3rem;
}

/*--------------------Media Query-------------------*/
@media (max-width: 1450px) {
  
}