* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --clr-orange: rgb(209, 153, 0);
  --clr-textWhite: #eeeeee;
  --clr-darGray: #424242;
  --clr-lightGray: #686868;
  --clr-darkRed: rgb(182, 84, 84);
}
body {
  scroll-behavior: smooth;
}

.center {
  width: min(90%, 110rem);
  margin-inline: auto;
}
nav {
  background: var(--clr-darGray);
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-container {
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--clr-textWhite);
 font-size: 1.5rem;
 transition: .15s ease-in-out;
}
.logo:hover {
  color: var(--clr-orange);
}
  
ul {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
}
ul li {
  list-style-type: none;
  padding: 2rem 0;
  padding-left: 2rem;
}
ul li a {
  text-decoration: none;
  color: var(--clr-textWhite);
  transition: 0.15s ease-in-out;
}
ul li a:hover {
   color: var(--clr-orange);
}

ul li .logout-btn {
  border: 1px solid var(--clr-orange);
  background: var(--clr-orange);
  padding: .5rem 1rem;
  border-radius: 50px 50px;
}
ul li .logout-btn:hover {
  background: transparent;
}
.links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--clr-textWhite);
}

/*------------------------Section 1----------------*/
.section-1 {
 min-height: 70vh;
}
.sect1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
 
}
.section-1 .greeting {
  font-size: 2rem;
  padding: 3rem 0;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.member-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.member-content .instruction p, h1{
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  width: 80%;
}
.member-content .instruction h1 {
  margin-bottom: 1rem;
}
.member-content .instruction i {
  font-size: 5rem;
}
.member-content .img-div {
  margin-top: 2rem;
  width: 80%;
}
.add-col {
  width: 50%;
}
/*-----------------------Form----------------------*/
form {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 10px 25px 7px rgba(0, 0, 0, 0.2);
  min-width: 500px;
  padding: 2rem;
}
form h1 {
  text-align: center;
  padding-bottom: 2rem;
}
form .user-detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.form-group1 {
  width: 50%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
}
form .user-detail .input-group {
  width: calc(100% / 2 - 20px);
  margin: .5rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}
form .user-detail .input-group input {
  outline: none;
  padding: 0.7rem 0.3rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
}
form .button-group {
  margin: 1rem 0 1rem 0;
  text-align: center;
}
form .button-group .submit-btn {
padding: .7rem;
width: 95%;
cursor: pointer;
 border: 1px solid var(--clr-orange);
 border-radius: 5px;
 background: var(--clr-darkRed);
 font-size: 1.2rem;
 color: var(--clr-textWhite);
 transition: .15s ease-in-out;
}
form .button-group .submit-btn:hover {
  background: transparent;
  color: var(--clr-darkRed);
}
form .note-msg{
text-align: center;
}
/*--------------------Section 2, Table--------------------*/
.section-2 {
  min-height: 50vh;
}
.section-2 h1 {
  text-align: center;
  margin: 2rem 0;
}
.sect2-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/*----------------Table-------------------------*/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  min-width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5rem;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th, td {
  padding: 0.5rem;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
table .btn {
  text-decoration: none;
  padding: 0.2rem;
  border: 1px solid var(--clr-darkRed);
  border-radius: 5px;
  
}
table .delete {
  color: var(--clr-darkRed);
}
table .update {
  background: var(--clr-darkRed);
  color: var(--clr-textWhite);
}

@media (max-width: 1500px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip-path: inset(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
   
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1rem;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
@media (max-width: 950px) {
  .member-content {
    flex-direction: column;
  }
  .member-content .instruction {
    width: 100%;
  }
  .member-content .instruction p, h1{
    text-align: center;
  width: 100%;
  }
  .add-member-form {
    width: 100%;
  }
  .member-content .img-div {
    margin-top: 2rem;
    width: 100%;
  }
}