* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
   --clr-orange: rgb(209, 153, 0);
  --clr-textWhite: #eeeeee;
  --clr-darGray: #2e2e2e;
  --clr-lightGray: #4b4b4b;
  --clr-darkRed: rgb(182, 84, 84);
}

body {
  padding: 0;
  margin: 0;

}
/*----------------------Section 1------------------------*/
.sect-1 {
  min-height: 80vh;
  padding: 1rem 0;
  position: relative;
}
.sect-1::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(../images/bible1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.sect1-content {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect1-content h1 {
  color: var(--clr-textWhite);
  font-size: 4rem;
  font-family: 'Merriweather', serif;
}
/*----------------------Section 2-----------------------*/
.sect-2 {
  min-height: 50vh;
  padding: 1rem 0;
   display: flex;
  justify-content: center;
  align-items: center;
}
.sect2-container {
  width: 100%;
}
.three-columns-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.g-col {
  width: 50%;
  height: 300px;
  text-align: center;
}
.sect2-container .g-col h2 {
  padding-bottom: 1rem;
}
.sect2-container .g-col p {
  padding-bottom: 1rem;
}
.sect2-container .g-col i {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--clr-darkRed);
}
.content1 {
  border-right: 1px solid lightgray;
}
/*--------------------Section 3------------------------*/
.sect-3 {
  min-height: 100vh;
  padding: 2rem 0;
  background: var(--clr-darkRed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-textWhite);
  letter-spacing: 0.1rem;
}
.sect3-content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.col-1 {
  width: 50%;
}
.sect3-content-1 .image {
  background-image: url(../images/church1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50vh;
}
.info {
  padding-left: 5rem;
}
.info h1 {
  padding-bottom: 1.5rem;
}
.sect3-content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-2 {
  width: 50%;
}
.sect3-content-2 .img {
  background-image: url(../images/churchcamp1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50vh;
}

.serve {
  padding-right: 5rem;
}
.serve h1 {
   padding-bottom: 1rem;
}
.serve-btn-div {
  margin-top: 1rem;
}
/*-------------------Section 4-----------------------*/
.sect-4 {
  min-height: 60vh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect4-container {
  width: 100%;
}
.sect4-container h1{
text-align: center;
padding-bottom: 2rem;
}
.sect4-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.m-col {
  width: 33%;
  text-align: center;
}
.m-col img {
  width: 100%;
  height: 280px;
}
/*---------------------------Section 5------------------*/
.sect-5 {
  min-height: 50vh;
  padding: 2rem 0;
}
.sect-5 h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.sect5-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.sect5-container .event-content {
  width: 24%;
  border: 1px solid lightgray;
  height: 350px;
 
}
.sect5-container .event-content h3 {
  padding: 0.8rem 0;
  text-align: center;
  background: var(--clr-orange);
  color: var(--clr-textWhite);
 
}
.sect5-container .event-content p {
  padding: 0.7rem;
}
/*-------------------------Footer---------------*/
.sect-6 {
  min-height: 25vh;
  background: var(--clr-lightGray);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect6-container {
  color: var(--clr-textWhite);
  text-align: center;
}
.sect6-container p, h2 {
  padding-bottom: 0.7rem;
}
.sect6-container i {
  color: var(--clr-textWhite);
  font-size: 1.5rem;
}
/*------------Footer--------------------*/
footer {
  min-height: 15vh;
  background: var(--clr-darGray);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  text-align: center;
  color: var(--clr-textWhite);
}  
