* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
   --clr-orange: rgb(209, 153, 0);
  --clr-textWhite: #eeeeee;
  --clr-darGray: #393e46;
  --clr-lightGray: #e6e6e6;
  --clr-darkRed: rgb(182, 84, 84);
}

body {
  padding: 0;
  margin: 0;

}
/*----------------------Section 1------------------------*/
.sect-1 {
  min-height: 80vh;
  padding: 1rem 0;
  position: relative;
}
.sect-1::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(../images/bible1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.sect1-content {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect1-content h1 {
  color: var(--clr-textWhite);
  font-size: 4rem;
  font-family: 'Merriweather', serif;
}
/*----------------------Section 2-----------------------*/
.sect-2 {
  min-height: 50vh;
  padding: 1rem 0;
   display: flex;
  justify-content: center;
  align-items: center;
}
.sect2-container {
  width: 100%;
}
.three-columns-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.g-col {
  width: 50%;
  height: 300px;
  text-align: center;
}
.sect2-container .g-col h2 {
  padding-bottom: 1rem;
}
.sect2-container .g-col p {
  padding-bottom: 1rem;
}
.sect2-container .g-col i {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--clr-darkRed);
}
.content1 {
  border-right: 1px solid lightgray;
}
/*--------------------Section 3------------------------*/
.sect-3 {
  min-height: 100vh;
  padding: 2rem 0;
  background: var(--clr-darkRed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-textWhite);
  letter-spacing: 0.1rem;
}
.sect3-content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.col-1 {
  width: 50%;
}
.sect3-content-1 .image {
  background-image: url(../images/church1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50vh;
}
.info {
  padding-left: 5rem;
}

.sect3-content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-2 {
  width: 50%;
}
.sect3-content-2 .img {
  background-image: url(../images/churchgroup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50vh;
}

.serve {
  padding-right: 5rem;
}
.serve-btn-div {
  margin-top: 1rem;
}
.serve-button {
  text-decoration: none;
  color: var(--clr-textWhite);
  background: var(--clr-orange);
  padding: 0.5rem 1rem;
  border: 1px solid var(--clr-orange);
  border-radius: 50px 50px;
  transition: 0.15s ease-in-out;
}
.serve-button:hover {
  background: transparent;
  color: var(--clr-orange);
}
/*-------------------Section 4-----------------------*/
.sect-4 {
  min-height: 60vh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect4-container {
  width: 100%;
}
.sect4-container h1{
text-align: center;
padding-bottom: 2rem;
}
.sect4-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.m-col {
  width: 33%;
  text-align: center;
}
.m-col img {
  width: 100%;
  height: 280px;
}
/*---------------------------Section 5------------------*/
.sect-5 {
  min-height: 50vh;
  padding: 1rem 0;
}
.sect-5 h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.sect5-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  
}
.sect5-container .event-content {
  width: 25%;
  border: 1px solid lightgray;
  height: 300px;
  padding: 0.5rem;
  border-radius: 5px;
}
.sect5-container .event-content h3 {
  padding-bottom: 0.7rem;
}
.sect5-container .event-content p {
  padding-bottom: 0.7rem;
}
/*-------------------------Footer---------------*/
footer {
  min-height: 20vh;
  background: var(--clr-darGray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .address {
  color: var(--clr-textWhite);
}
.footer-container .phone-email {
  color: var(--clr-textWhite);
}
.logo-div .footer-logo {
  font-size: 1.2rem;
  color: var(--clr-textWhite);
  text-decoration: none;
}
.footer-container .footer-col p {
  padding-bottom: 0.5rem;
}