:root {
   --clr-orange: rgb(209, 153, 0);
  --clr-textWhite: #eeeeee;
  --clr-darGray: #2e2e2e;
  --clr-lightGray: #4b4b4b;
  --clr-darkRed: rgb(182, 84, 84);
}

.serve-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serve-inner-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.serve-col {
  width: 50%;
}
.serve-inner-container .serve-msg p, h1{
  width: 70%;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}
form {
  width: 500px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
}
form h1 {
  margin-top: 0;
}
form .serve-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}
form .serve-content input, textarea {
  outline: none;
  border: 1px solid lightgray;
  resize: none;
  width: 100%;
  padding: 0.7rem 0.3rem;
  border-radius: 5px;
}
form .button-content .btn {
  padding: 0.7rem 1rem;
  border: 1px solid var(--clr-darkRed);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
form .button-content .submit {
  background: var(--clr-darkRed);
  color: var(--clr-textWhite);
  margin-right: 0.5rem;
}
form .button-content .cancel {
  text-decoration: none;
  color: var(--clr-darkRed);
}