{% extends "base.html" %}
{% block title %}All Members{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/all_members.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/home" class="logo">HFBC</a>
        <ul>
          <li><a href="/logout" class="logout-btn">LOG OUT</a></li>
        </ul>
       
      </div>
    </div>
  </nav>

<section class="sect-1">
  <div class="navigation">   
      <div class="side-nav">
       <div class="side-links">
          <a href="/host_event">Host Event</a>
         <a href="/all_members">View Members</a>
         <a href="/home">Add Members</a>
       </div>
        <div class="side-logo">
          <p>Hmong First Baptist Church</p>
        </div>
      </div>
    </div>


  <div class="center">
   
  <div class="sect1-container">
     <h1>All Members</h1>

<div class="wrapper">
<table class="content-table">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>House Hold</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>

  </thead>

  <tbody>
    <tr>
    
  {% if all_members %}
    {% for member in all_members %}
  <tr>
    <td>{{ member.first_name}}</td>
    <td>{{ member.last_name }}</td>
     <td>{{ member.address }}</td>
     <td>{{ member.city }}</td>
     <td>{{ member.state }}</td>
      <td>{{ member.zipcode }}</td>
      <td>{{ member.phone_number }}</td>
     <td>{{ member.email }}</td>
      <td>{{ member.house_hold }}</td>

      <td><a href="/delete_member/{{ member.member_id }}" class="delete-btn">Delete</a>
      </td>
      <td><a href="/update_member/{{ member.member_id }}" class="update-btn">Update</a>
      </td>
    </tr>
    {% endfor %}
  {% endif %}

  </tbody>
 
  </table>




</div>

  </div>
  </div>
</section>


{% endblock %}
{% block footer %}

{% endblock %}