{% extends "base.html" %}
{% block title %}Dontate{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
          <li><a href="/">HOME</a></li>       
           <li><a href="/ministries">MINISTRIES</a></li>     
          <li><a href="/login" class="login">LOG IN</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="d-container">
  <div class="center">
    <h1>Donate Page</h1>

    
  </div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}