{% extends "base.html" %}
{% block title %}Dontate{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
          <li><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/ministries">Ministries</a></li>
          <li><a href="/give">Give</a></li>
          <li><a href="/login">Log in</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="d-container">
  <div class="center">
    <h1>Donate Page</h1>

    
  </div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}