{% extends "base.html" %}
{% block title %}Host Events{% endblock %}
{% block head %}

<link rel="stylesheet" href="../static/css/host_event.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/home" class="logo">HFBC</a>
        <ul>
          <li><a href="/logout" class="logout-btn">LOG OUT</a></li>
        </ul>
      </div>
    </div>
  </nav>


 <section class="sect-1">
<div class="navigation">   
      <div class="side-nav">
       <div class="side-links">
          <a href="/host_event">Host Event</a>
         <a href="/all_members">View Members</a>
         <a href="/home">Add Members</a>
       </div>
        <div class="side-logo">
          <p>Hmong First Baptist Church</p>
        </div>
      </div>
    </div>

<div class="center">
  <div class="sect1-container">

    <div class="event-form event-col">
      <form action="/host_event" method="POST" class="host-form">
       <h1>Host Event</h1>
       <div class="input-group">
        <label for="title">Title:</label>
        <input type="text" name="title"/>
       </div>
        
        
      <div class="input-group">
        <label for="startdate">Start Date:</label>
        <input type="datetime-local" name="start_datetime"/>
      </div>
      <div class="input-group">
        <label for="enddate">End Date:</label>
        <input type="datetime-local" name="end_datetime"/>
      </div>
      <div class="input-group">
        <label for="description">
          Description:
        </label>
        <textarea cols="30" rows="10" name="description"></textarea>
      </div>
      <div class="input-group">
        <input type="submit" value="Submit" class="submit-btn"/>
      </div>
      </form>
    </div>

     <div class="event-content event-col">
          <h2>All events</h2>
        {% if events %}
          {% for event in events %}
        <div class="event-inner">
        <h3>{{ event.title }}</h3>
          <p>Start: {{ event.start_date|datetime_format('%m/%d/%y - %I:%M %p')  }}</p>
        <p>End: {{ event.end_date|datetime_format('%m/%d/%y - %I:%M %p') }}</p>
        <p>{{ event.description }}</p>
          <form action="/delete_event/{{ event.event_id }}" method="POST" class="delete-update-form">
          
          <input type="submit" class="update-btn delete" value="Delete"/> 
          
          <a href="/update_event/{{ event.event_id }}" class="update-btn update">Update</a> 
      </form>

        </div>
        
        {% endfor %}
       {% else %}
        <p>There are no events at the moment.</p>  
      {% endif %}  

    </div>

  </div>
  </div>
</section> 

{% endblock %}
{% block footer %}

{% endblock %}