{% extends "base.html" %}
{% block title %}Host Events{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
{% endblock %}
{% block body %}

<div class="h-container">
  <div class="center">
    <h1>Host Event Page</h1>

    <form action="" method="POST">
      <div class="input-group">
        <label for="startdate">Start Date:</label>
        <input type="datetime-local" name="start_datetime"/>
      </div>
      <div class="input-group">
        <label for="enddate">End Date:</label>
        <input type="datetime-local" name="end_datetime"/>
      </div>
      <div class="input-group">
        <label for="description">
          Description:
        </label>
        <textarea cols="10" rows="10" name="description"></textarea>
      </div>
      <div class="input-group">
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </div>
</div>

   

{% endblock %}
{% block footer %}

{% endblock %}