{% extends "base.html" %}
{% block title %}Host Events{% endblock %}
{% block head %}

<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" href="../static/css/host_event.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container" >
        <a href="/home">HFBC</a>
        <ul>
          <li><a href="/home">Main Page</a>
          </li>
          <li><a href="/host_event">Host Event</a></li>
           <li><a href="/all_members">All Members</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      
      </div>
    </div>
  </nav>

<div class="h-container">
  <div class="center">
    <h1>Host Event Page</h1>

    <form action="/host_event" method="POST">
      <div class="input-group">
        <label for="startdate">Start Date:</label>
        <input type="datetime-local" name="start_datetime"/>
      </div>
      <div class="input-group">
        <label for="enddate">End Date:</label>
        <input type="datetime-local" name="end_datetime"/>
      </div>
      <div class="input-group">
        <label for="description">
          Description:
        </label>
        <textarea cols="30" rows="10" name="description"></textarea>
      </div>
      <div class="input-group">
        <input type="submit" value="Submit"/>
      </div>

    </form>
  </div>
</div>

<section class="display-event">
  <div class="d-container">
    <div class="center">

       {% with messages = get_flashed_messages(with_categories=true)%}
          {% if messages %}
          {% for category, message in messages %}
          <div class="flash-message-div">
            <p class="{{ category }}">{{ message }}</p>
          </div>
          {% endfor %}
          {% endif %}
        {% endwith %}

      <h2>All events</h2>

      {% if events %}
        {% for event in events %}
        <p>Start: {{ event.start_date }} - End: {{ event.end_date }}</p>
        <p>{{ event.description }}</p>

        <form action="/delete_event/{{ event.event_id }}" method="POST">
          <div class="delete-btn-div">
            <input type="submit" class="delete-btn" value="Delete"/> 
          </div>
      </form>
      <a href="/update_event/{{ event.event_id }}" class="update-button">Update</a>
        
        {% endfor %}
      {% else %}
        <p>There are no events at the moment.</p>   
      {% endif %}
      

    </div>
  </div>
</section>


<script src="../static/js/host_event.js"></script>
{% endblock %}
{% block footer %}

{% endblock %}