{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" href="../static/css/index.css"/>
{% endblock %}

{% block body %}

<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
           <li><a href="/about">ABOUT</a></li>
           <li><a href="/ministries">MINISTRIES</a></li>
          <li><a href="/give">GIVE</a></li>
          <li><a href="/login" class="login">LOG IN</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="sect-1">
    <div class="center">
      <div class="sect-1-container">
        <div class="sect1-content">
          <h1>Hmong First Baptist Church</h1>
        </div>
      </div>   
    </div>
  </section>

  <section class="sect-2">
    <div class="center">
      <div class="sect2-container">

        <div class="three-columns-content">
          <div class="content1 g-col">
            <i class="fa-solid fa-church"></i>
            <h2>SERVICE</h2>
            <p>Sunday</p>
            <p>10:30 AM - 12:00 PM</p>

            <p>WEDNESDAY NIGHT PRAYER</p>
            <p>7 PM - 8 PM</p>
          </div>

          <div class="content2 g-col">
            <i class="fa-solid fa-book-bible"></i>
            <h2>BIBLE STUDY</h2>
            <p>Men Bible Study</p>
            <p>Sunday: 9:30 AM - 10:25 AM</p>
            <p>Women Bible Study</p>
            <p>Sunday: 9:30 Am - 10:25 AM</p>
            <p>Youth Bible Study</p>
            <p>Sunday: 9:30 AM - 10:25 AM</p>
          </div>
         
        </div>
      </div>
    </div>
  </section>

  <section class="sect-3">
    <div class="center">
      <div class="sect3-container">

        <div class="sect3-content-1">

          <div class="image col-1"></div>

          <div class="info col-1">
            <h1>GROW IN FAITH</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aperiam saepe cumque ad dolores quia nam necessitatibus quasi in minus impedit fugit, mollitia placeat, ipsum aspernatur quae. Sed, possimus inventore!</p>
            <div class="prayer-btn-div">
              <a href="#" class="prayer-button">Prayer Request</a>
            </div>
          </div>

        </div>

        <div class="sect3-content-2">
          <div class="serve col-2">
            <h1>VOLUNTEER & SERVE</h1>
            <p>If you want to serve Hmong First Baptist Church, please fill out a form and a staff with get in contact with you.</p>
            <div class="serve-btn-div">
              <a href="#" class="serve-button">Serve</a>
            </div>
          </div>
          <div class="img col-2">
    
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="sect-4" id="ministries">
    <div class="sect4-container">
      <div class="center">
        <h1>OUR MINISTRIES</h1>
        <div class="sect4-content">
          <div class="men m-col">
            <img src="../static/images/men.jpg" alt=""/>
            <h3>Men</h3>
          </div>
          <div class="women m-col">
            <img src="../static/images/women.jpg" alt=""/>
            <h3>Women</h3>
          </div>
          <div class="youth m-col">
            <img src="../static/images/youth.jpg" alt=""/>
            <h3>Youth</h3>
          </div>
        </div>

      </div>
    </div>
  </section>

<section class="sect-5">
  <div class="center">
    <div class="sect5-container">
       <h1>UPCOMING EVENTS</h1> 
          {% if events %}
          {% for event in events %}
              <h3>{{ event.title }}</h3>
              <p>Start:{{ event.start_date }}</p>
              <p>End: {{ event.end_date }}</p>
              <p>{{ event.description }}</p>

          {% endfor %}
          {% endif %}
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}
<footer>
  <div class="center">
    <div class="footer-container">
      <div class="logo-div">
        <a href="/" class="footer-logo">H F B C</a>
      </div>
      <div class="address">
        <p><i class="fa-solid fa-location-dot"></i> 6693 N 99th St</p>
        <p>Milwaukee, WI 53224</p>
      </div>
      <div class="phone-email">
        <p><i class="fa-solid fa-phone"></i> 414-358-2610</p>
        <p><i class="fa-solid fa-envelope"></i> hfbc.milw@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
