{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" href="../static/css/base.css"/>
{% endblock %}

{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/">HFBC</a>
        <ul>
           <li><a href="/about">About</a></li>
           <li><a href="/ministries">Ministries</a></li>
          <li><a href="/give">Give</a></li>
          <li><a href="/login">Log in</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <div class="sect-1-container">
      <div class="center">
        <h1>All Events</h1>
           
          {% if events %}

          {% for event in events %}
              <p>Start Date:{{ event.start_date }} - End Date: {{ event.end_date }}</p>
    
              <p>Event: {{ event.description }}</p>
          {% endfor %}

          {% endif %}
        
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}

{% endblock %}
