{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" href="../static/css/index.css"/>
{% endblock %}

{% block body %}

<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
           <li><a href="/ministries">MINISTRIES</a></li>
          <li><a href="/give">GIVE</a></li>
          <li><a href="/login" class="login">LOG IN</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="sect-1">
    <div class="center">
      <div class="sect-1-container">
        <div class="sect1-content">
          <h1>Hmong First Baptist Church</h1>
        </div>
      </div>   
    </div>
  </section>

  <section class="sect-2">
    <div class="center">
      <div class="sect2-container">

        <div class="three-columns-content">
          <div class="content1 g-col">
            <i class="fa-solid fa-church"></i>
            <h2>SERVICE</h2>
            <p>Sunday: 10:30 AM - 12:00 PM</p>
            <p>WEDNESDAY NIGHT PRAYER</p>
            <p>7 PM - 8 PM</p>
            
          </div>

          <div class="content2 g-col">
            <i class="fa-solid fa-book-bible"></i>
            <h2>BIBLE STUDY</h2>
            <p>Men, Women, Youth</p>
            <p>Sunday: 9:30 AM - 10:25 AM</p>

            <a href="https://us02web.zoom.us/j/88033768815?pwd=ZDBndWM1Z3Rid2MwUjlveDhMNGFWQT09" target="_blank"><i class="fa-solid fa-video"></i></a>
            <p>Audio & Video</p>
            <p>Meeting ID: 86814207799</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sect-3">
    <div class="center">
      <div class="sect3-container">

        <div class="sect3-content-1">

          <div class="image col-1"></div>

          <div class="info col-1">
            <h1>IN NEED OF PRAYER?</h1>
            <p>If you are in need of prayer, please contact us. We have people ready to pray with you and for you.</p>
            <div class="serve-btn-div">
              <a href="#" class="serve-button">Prayer Request</a>
            </div>
          </div>

        </div>

        <div class="sect3-content-2">
          <div class="serve col-2">
            <h1>VOLUNTEER & SERVE</h1>
            <p>If you want to serve at Hmong First Baptist Church, please fill out a form and a staff with get in contact with you.</p>
            <div class="serve-btn-div">
              <a href="/serve_form" class="serve-button">Serve</a>
            </div>
          </div>
          <div class="img col-2">
    
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="sect-4" id="ministries">
    <div class="sect4-container">
      <div class="center">
        <h1>OUR MINISTRIES</h1>
        <div class="sect4-content">
          <div class="men m-col">
            <img src="../static/images/men.jpg" alt=""/>
            <h3>Men</h3>
          </div>
          <div class="women m-col">
            <img src="../static/images/women1.jpg" alt=""/>
            <h3>Women</h3>
          </div>
          <div class="youth m-col">
            <img src="../static/images/youth1.jpg" alt=""/>
            <h3>Youth</h3>
          </div>
        </div>

      </div>
    </div>
  </section>

<section class="sect-5">
  <div class="center">
     <h1>UPCOMING EVENTS</h1> 
    <div class="sect5-container">
       {% if events %}
          {% for event in events %}
       <div class="event-content">
              <h3>{{ event.title }}</h3>
              <p>Start: {{ event.start_date|datetime_format('%m/%d/%y - %I:%M %p') }} </p>
              <p>End: {{ event.end_date|datetime_format('%m/%d/%y - %I:%M %p') }}</p>
              <p>{{ event.description }}</p>
        </div> 
          {% endfor %}
          {% endif %}
       
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}
<footer>
  <div class="center">
    <div class="footer-container">
      <div class="logo-div">
        <a href="/" class="footer-logo">H F B C</a>
      </div>
      <div class="address footer-col">
        <p><i class="fa-solid fa-location-dot"></i> 6693 N 99th St</p>
        <p>Milwaukee, WI 53224</p>
      </div>
      <div class="phone-email footer-col">
        <p><i class="fa-solid fa-phone"></i> 414-358-2610</p>
        <p><i class="fa-solid fa-envelope"></i> hfbc.milw@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
