{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
          <li><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/ministries">Ministries</a></li>
          <li><a href="/give">Give</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="login-container">
  <div class="center">
     <h1>login</h1>

     {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
      {% for category, message in messages %}
      <div class="flash-message-div">
        <p class="{{ category }}">{{ message }}</p>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

  <form action="/login" method="POST">
    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required/>
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required/>
    </div>
    <div class="input-group">
      <button type="submit">Log In</button>
    </div>
  </form>

  <a href="/new_user">Create New User</a>
  </div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}