{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" href="../static/css/login.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
          <li><a href="/">HOME</a></li>
           <li><a href="/ministries">MINISTRIES</a></li>
          <li><a href="https://donate.stripe.com/test_14kcQv7nLfKm7II000">GIVE</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="center">
  <div class="login-container">
      <div class="note-msg">
        {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
      {% for category, message in messages %}
      <div class="flash-message-div">
        <p class="{{ category }}">{{ message }}</p>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      </div>

  <form action="/login" method="POST">
     <h1>LOG IN</h1>
    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required/>
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required/>
    </div>
    <div class="input-group">
      <button type="submit" class="login-btn">Log In</button>
    </div>
    <a href="/new_user" class="new-user-btn">Create New User</a>
  </form>

  
  </div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}