<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Open+Sans&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quando&family=Quicksand:wght@400;600&family=Roboto:wght@300&family=Sigmar&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/base.css" />
  <title>HFBC</title>

  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.js"></script>
  <script src="../static/js/Allcomponents.jsx" type="text/jsx"></script>
  <script src="../static/js/Main.jsx" type="text/jsx"></script>

</head>
<body>
  <div id="root"></div>
</body>
</html>