{% extends "base.html" %}
{% block title %}New User{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/">HFBC</a>
        <ul>
           <li><a href="/about">About</a></li>
           <li><a href="/ministries">Ministries</a></li>
          <li><a href="/give">Give</a></li>
          <li><a href="/login">Log in</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="n-container">
    <div class="center">

       <h1>New User</h1>

  <form action="/new_user" method="POST">
    <div class="input-group">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" required/>
    </div>
    <div class="input-group">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" required/>
    </div>
    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" name="email" required/>
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" name="password" required/>
    </div>
    <div class="input-group">
      <button type="submit">Create User</button>
    </div>
  </form>

    </div>
  </div>

  {% endblock %}
  {% block footer %}

  {% endblock %}