{% extends "base.html" %}
{% block title %}New User{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" href="../static/css/login.css"/>
{% endblock %}
{% block body %}
<nav>
    <div class="center">
      <div class="navbar-container">
        <a href="/" class="logo">H F B C</a>
        <ul>
          <li><a href="/">HOME</a></li>
           <li><a href="/ministries">MINISTRIES</a></li>
          <li><a href="/give">GIVE</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="center">
    <div class="login-container" id="new-user-container">
      
  <form action="/new_user" method="POST">
     <h1>New User</h1>
    <div class="input-group">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" required/>
    </div>
    <div class="input-group">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" required/>
    </div>
    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" name="email" required/>
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" name="password" required/>
    </div>
    <div class="input-group">
      <button type="submit" class="login-btn">Create User</button>
    </div>
    <p>Already have an account? <a href="/login" class="new-user-btn">Log In</a></p>
  </form>
    </div>
  </div>

  {% endblock %}
  {% block footer %}

  {% endblock %}