{% extends "base.html" %}
{% block title %}Prayer Request{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" href="../static/css/prayer.css"/>
{% endblock %}

{% block body %}
<section>
  <div class="center">
    <div class="prayer-container">

      <div class="prayer-info prayer-col">
        <h1>Prayer Request</h1>
        <p>If you need prayer, please contact us. We have people ready to pray for you.</p>
      </div>
      <div class="prayer-form prayer-col">
         <form action="">
        <div class="input-group">
          <label for="firstname">First Name</label>
          <input type="text" name="first_name"/>
        </div>
        <div class="input-group">
          <label for="firstname">First Name</label>
          <input type="text" name="first_name"/>
        </div>
        <div class="input-group">
          <label for="firstname">First Name</label>
          <input type="text" name="first_name"/>
        </div>
        <div class="input-group">
          <label for="firstname">First Name</label>
          <textarea cols="30" rows="10" name="message"></textarea>
        </div>
        <div class="button-group">
          <input type="submit" value="Send" class="btn submit">
          <a href="/" class="cancel btn">Cancel</a>
        </div>
      </form>
      </div>


     
    </div>
  </div>
</section>
{% endblock %}