<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Members</title>
</head>
<body>
  
  <div class="update-member-container">
    <div class="center">

      <form action="/update_member/{{ member_update.member_id }}" method="POST">

      <label for="fristname">First Name</label>
      <input type="text" name="first_name" value="{{ member_update.first_name }}">

      <label for="lastname">Last Name</label>
      <input type="text" name="last_name" value="{{ member_update.last_name }}">

      <label for="address">Address</label>
      <input type="text" name="address" value="{{ member_update.address }}">
      
      <label for="city">City</label>
      <input type="text" name="city" value="{{ member_update.city }}">
      
      <label for="state">State</label>
      <input type="text" name="state" value="{{ member_update.state }}">

      <label for="phone">Phone</label>
      <input type="phone" name="phone" value="{{ member_update.last_name }}">

      <label for="email">Email</label>
      <input type="email" name="email" value="{{ member_update.email }}">

      <label for="household">House Hold</label>
      <input type="number" name="house_hold" value="{{ member_update.house_hold }}">

      <input type="submit" value="submit">

    </form>

    </div>
  </div>

</body>
</html>