<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/update_event.css"/>
  <title>Update Event</title>
</head>
<body>

<section>
 <div class="center">
  <div class="update-container">

    <form action="/update_event/{{ event_update.event_id }}" method="POST">
      <h1>Update Event</h1>
      <div class="update-group">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ event_update.title }}">
      </div>

        <div class="update-group">
          <label for="startdate">Start Date</label>
      <input type="datetime-local" name="start_date" value="{{ event_update.start_date }}">
        </div>
        <div class="update-group">
          <label for="enddate">End Date</label>
      <input type="datetime-local" name="end_date" value="{{ event_update.end_date }}">
        </div>
        <div class="update-group">
          <label for="description">Description</label>
          <textarea name="description" cols="30" rows="10" value="event_update.description"></textarea>
        </div>
      <div class="button-group">
        <input type="submit" value="Update" class="btn update">
        <a href="/host_event" class="cancel btn">Cancel</a>
      </div>
    </form> 
  </div>
</div>



</section>

 
  
</body>
</html>